.cart-container {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}

.cart-item-image {
  width: 40px;
  height: 40px;

  margin-right: 1rem;
  border-radius: 4px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-text {
  color: #040404;
  font-size: 16px;
}

.remove-button {
  background: transparent;
  border: none;
  cursor: pointer;
  color: #040404;
  font-size: 1.2rem;
}
.remove-button:hover {
  color: #040404;
  background-color: #a3a2a2;
}

.button-icon {
  pointer-events: none;
  background: transparent;
}

.cart-item-buttons {
  display: flex;
  gap: 0.5rem;
}

.add-button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-button:hover {
  background-color: #2980b9;
}
