.home-featured-products {
  margin-top: 20px;
}

.products-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-end;
}

.product-item {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  width: 200px;
  text-align: center;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-item h3 {
  margin: 10px 0;
}

.product-item p {
  color: #666;
}
