.home {
  text-align: center;
  padding: 20px;
}

.home-header {
  padding: 20px;
}

.auth-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.auth-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #5bc0de;
  text-decoration: none;
  border-radius: 5px;
}

.auth-button:hover {
  background-color: #4caeeb;
}

.logo {
  width: 400px;
  height: auto;
}

.home-featured-products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0 20px;
}
.cart-button {
  background-color: #5bc0de;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cart-button:hover {
  background-color: #4caeeb;
}

.cart-container {
  margin-top: 20px;
}
